.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* GoogleTranslate.css */

#google_translate_element {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

/*--------------------------------------------------------------
  # Cource Details
  --------------------------------------------------------------*/
.course-details h3 {
    font-size: 24px;
    margin: 30px 0 15px 0;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}

.course-details h3:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #eef0ef;
    bottom: 0;
    left: 0;
}

.course-details h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background: #ff8700;
    bottom: 0;
    left: 0;
}

.course-details .course-info {
    background: #f6f7f6;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.course-details .course-info h5 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.course-details .course-info p {
    margin: 0;
    font-weight: 600;
}

.course-details .course-info a {
    color: #657a6d;
}

/*--------------------------------------------------------------
    # Cource Details Tabs
    --------------------------------------------------------------*/
.cource-details-tabs {
    overflow: hidden;
    padding-top: 0;
}

.cource-details-tabs .nav-tabs {
    border: 0;
}

.cource-details-tabs .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #37423b;
    border-radius: 0;
    border-right: 2px solid #e2e7e4;
    font-weight: 600;
    font-size: 15px;
}

.cource-details-tabs .nav-link:hover {
    color: #ff8700;
}

.cource-details-tabs .nav-link.active {
    color: #ff8700;
    border-color: #ff8700;
    background-color: transparent !important;
}

.cource-details-tabs .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.cource-details-tabs .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #37423b;
}

.cource-details-tabs .details p {
    color: #777777;
}

.cource-details-tabs .details p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .cource-details-tabs .nav-link {
        border: 0;
        padding: 15px;
    }

    .cource-details-tabs .nav-link.active {
        color: #fff;
        background: #ff8700;
    }
}



/* Stile base per la card */
.course-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stile al passaggio del mouse */
.course-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Aggiungi un effetto di cursor pointer per indicare che è cliccabile */
.course-item {
    cursor: pointer;
}

.button-contact-me {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 14px;
    padding: 8px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 0 0 0 30px;
    border: none;
}

.button-contact-me:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 15%);
}


@media (max-width: 992px) {

    /* Stile di base per il menu nav */
    .navmenu {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        /* Nasconde il menu fuori dallo schermo */
        opacity: 0;
        transition: transform 0.3s linear, opacity 0.3s linear;
        /* Aggiungi una transizione per l'animazione */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 999;
    }

    /* Quando il menu è attivo */
    .navmenu.active {
        transform: translateX(0);
        /* Mostra il menu mobile */
        opacity: 1;
    }

    /* Transizione per il pulsante hamburger */
    .mobile-nav-toggle {
        cursor: pointer;
    }
}


/*--------------------------------------------------------------
    # Event Registration
--------------------------------------------------------------*/

.registration {
    background: #f6f7f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    /*gap: 20px;*/
    padding: 20px;
    grid-template-areas:
        "button";
}

.button-container {
    grid-area: button;
}

.registration &>button {
    background: #f6f7f6;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*--------------------------------------------------------------
    # Reset Filter
--------------------------------------------------------------*/
.reset-filter {
    border-color: #ff8700;
    color: #ff8700;
}

.reset-filter:hover,
.reset-filter:focus,
.reset-filter:first-child:active {
    background-color: color-mix(in srgb, #ff8700, transparent 15%);
    color: #fff;
    border-color: #ff8700;
}

/*--------------------------------------------------------------
    # Evento gratuito
--------------------------------------------------------------*/
.free-badge-container {
    display: flex;
    justify-content: center;
}

.free-badge {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    text-align: center;
    font-size: 0.9em;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}